#About {
    padding: 60px 10% 5px 10%;
    color: #CED6D4; 
    background-color: rgba(19, 35, 47, 0.9);
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}
h3{
    padding: 2px;
    margin:0;
    font-size: 28px;
}
p.description_M{
   margin: 10px auto;
   max-width: 720px;
}
img{
    width:160px;
    height: 160px;
    display: block;
    margin: 30px auto;
    box-shadow: 0 0 20px #000;
}
.img-thumbnail{
    background-color: rgba(19, 35, 47, 0.9);
}