<div id="About" class="section_M">
  <img class="img-thumbnail" alt="avatar" src="./assets/generalImages/avatar.png" alt="avatar">
  <h3>Full Stack Developer</h3>
  <h3>(C#/ASP.NET/Angular)</h3>
  <p>I’m a Full Stack Developer with four-years of experience in the full software development lifecycle – from concepts and requirements to deployment and support of web applications primarily using C#, .NET, Angular and SQL. Self-motivated and extremely passionate about web development in all it’s forms. Highly adaptable in quickly changing technical environments with strong organizational and analytical skills.</p>
</div>