/* div.project_M{
    text-align: left;
} */

img{
   width: 100%;
}
p{
   margin:0;
   padding: 0;
   text-align: left;
   font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: rgba(43, 34, 66, 1);
}
p.project-title_M{
    font-weight: 700;
    margin-top: 10px;
}
button{
    width: 30%;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}