<div id="Projects" class="section_M">
  
  <!-- Header -->
  <div class="placeForFixedNav"></div>
  <h3 class="sectionHeader_M">Projects</h3>

  <!-- Project boxes -->
  <div class="projectContainer_M clearfix">      
    <div class="projectBox_M" *ngFor="let o of projects" (click)="onSelectProject(o)">
      <img [src]="o.imageSrc" [alt]="o.name">
      <p>{{o.name}} <i class="fa fa-hand-pointer-o" aria-hidden="true"></i></p>
    </div>
  </div>

  <!-- Modal dialog -->
  <app-modal-dialog [input]="selectedModalDialogProject">
      <div #modalDialogBody>
        <app-project [projectIdInput]="selectedProjectId"></app-project>
      </div>
  </app-modal-dialog>
  <button id="openModalAlertForProject" hidden data-toggle="modal" [attr.data-target]="'#ModalAlert'+selectedModalDialogProject.uniqueId">Open Modal Alert (hidden)</button>

</div>