<div id="Projects" class="section_M">
    <div class="placeForFixedNav"></div>
    <h3 class="sectionHeader_M">Projects</h3>
    <div class="projectContainer_M clearfix">      
      <div class="projectBox_M" *ngFor="let item of projectList" (click)="onSelect(item.id)">
          <img [src]="item.imageLink" [alt]="item.name">
          <p>{{item.name}} <i class="fa fa-hand-pointer-o" aria-hidden="true"></i></p>

           <!-- Modal dialog -->
          <app-project-modal [project]="item"></app-project-modal>
          <button [id]="'openModalButton'+item.id" hidden data-toggle="modal" [attr.data-target]="'#projectModal'+item.id">Open Modal (hidden)</button>
      </div>
    </div>
  
  </div>
