/*
fonts:
  font-family: 'Amaranth', sans-serif;
  font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
colors:
  Grey dark: rgba(19, 35, 47, 1)
  Grey light:  rgba(19, 35, 47, 0.9)
  Green: rgba(26, 177, 136, 1) (#1ab188)
*/

p, h2{
  padding:0;
  margin:0;
}
.placeForFixedNav{
  height: 56px;
}
  
.section_M{
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
  }
.sectionHeader_M{
    padding: 18px;
    margin:0;
    font-weight:bold;
    font-size: 32px;
  }