.placeForFixedNav{
    background-color: rgba(19, 35, 47, 0.9);
}

.section_M {
    color: rgba(38, 43, 47, 1);
    background-color: #e1e3e4;
  }
  .skillContainer_M{
      display: flex;
      display: -webkit-flex; /* Safari */
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap; /* Safari */
      justify-content: center;   
  }
  .skillBox_M{
    width: 140px;
    height: 140px;
    float:left;
    margin: 20px;
    background-color:rgba(214, 137, 16, 1); /*rgba(243, 54, 0, 0.8);*/
    border-radius: 5%;
    border: 6px solid #CFD2D4;
    box-shadow: 0 0 20px black;
    
    color: rgba(19, 35, 47, 1);
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
  }
  
  .skillBox_M p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .skillBox_M:hover{
    cursor: pointer;
    background-color: rgba(243, 156, 18, 1);
  }
  