.placeForFixedNav{
    background-color: rgba(19, 35, 47, 0.9);
}
.section_M {
    color: rgba(38, 43, 47, 1);
    background-color: rgba(225, 227, 228, 1);
  }
  .skillContainer_M{
      display: flex;
      display: -webkit-flex; /* Safari */
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap; /* Safari */
      justify-content: center;   
  }
  .skillBox_M{
    width: 130px;
    height: 130px;
    float: left;
    margin: 20px;
    padding: 0 6px;
    background-color:rgba(214, 137, 16, 1); /*rgba(243, 54, 0, 0.8);*/
    border-radius: 5%;
    border: 6px solid rgb(207, 210, 212);
    box-shadow: 0 0 20px black;
    cursor: pointer;
    
    color: rgba(19, 35, 47, 1);
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
  }
  
  .skillBox_M p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .skillBox_M:hover{
    background-color: rgba(243, 156, 18, 1);
  }
  