<div id="Skills" class="section_M">

    <!-- Header -->
    <div class="placeForFixedNav"></div>
    <h3 class="sectionHeader_M">Skills</h3>

    <!-- Skill boxes -->
    <div class="skillContainer_M">
        <div class="skillBox_M" *ngFor="let o of skills" (click)="onSelectSkill(o)">
            <p>{{o.name}}</p>
        </div>
        <div style="clear: both;"></div>
    </div>

    <!-- Modal dialog -->
    <app-modal-dialog [input]="selectedModalDialogSkill">
        <div #modalDialogBody>
            <app-skill [skillIdInput]="selectedSkillId"></app-skill>
        </div>
    </app-modal-dialog>
    <button id="openModalAlertForSkill" hidden data-toggle="modal" [attr.data-target]="'#ModalAlert'+selectedModalDialogSkill.uniqueId">Open Modal Alert (hidden)</button>

</div>