<div id="Skills" class="section_M">
    <div class="placeForFixedNav"></div>
    <h3 class="sectionHeader_M">Skills</h3>
    <div class="skillContainer_M">
        <div class="skillBox_M">
            <p>ASP.NET Core</p>
        </div>
        <div class="skillBox_M">
            <p>C#</p>
        </div>
        <div class="skillBox_M">
            <p>MS SQL Server</p>
        </div>
        <div class="skillBox_M">
            <p>LINQ</p>
        </div>
        <div class="skillBox_M">
            <p>JavaScript</p>
        </div>
        <div class="skillBox_M">
            <p>jQuery</p>
        </div>
        <div class="skillBox_M">
            <p>AJAX</p>
        </div>      
        <div class="skillBox_M">
            <p>JSON</p>
        </div>      
        <div class="skillBox_M">
            <p>HTML5</p>
        </div>
        <div class="skillBox_M">
            <p>CSS3</p>
        </div>
        <div class="skillBox_M">
            <p>Bootstrap</p>
        </div>      
        <div class="skillBox_M">
            <p>TFS</p>
        </div>    
        <div style="clear: both;"></div>
    </div>
</div>