<div id="Experience" class="section_M">
  <div class="placeForFixedNav"></div>
  <h3 class="sectionHeader_M">Experience</h3>
  
  <!-- https://bootsnipp.com/snippets/k7KxQ -->
  <div class="container">  
    <ul class="timeline">       
      
      <li>
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>.NET Developer at Assurant Solutions (Atlanta, GA)</h4>
            <p>
              <small class="text-muted">
              <i class="glyphicon glyphicon-time"></i> September 2015 - present</small>
            </p>
          </div>
          <div class="tl-body">
            <p>Lorem ipsum dolor sit amet, mel graeci dicunt facilisis ne, ius clita vivendo deterruisset id. Sensibus disputationi eum ea. Alterum deleniti quo ei, cum saperet consectetuer ea, sea utinam indoctum appellantur no. Te per latine electram mnesarchum. Mel deserunt iudicabit omittantur et, at nec postea albucius interesset, cu populo maiorum atomorum per. Mel noster timeam at, illum recteque vituperata qui ea, vis ex veri deterruisset.</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>.NET Developer at Romantic LLC (Azerbaijan)</h4>
            <p><small class="text-muted">
              <i class="glyphicon glyphicon-time"></i> December 2013 - June 2015</small>
            </p>
          </div>
          <div class="tl-body">
            <p>Lorem ipsum dolor sit amet, mel graeci dicunt facilisis ne, ius clita vivendo deterruisset id. Sensibus disputationi eum ea. Alterum deleniti quo ei, cum saperet consectetuer ea, sea utinam indoctum appellantur no.</p>
          </div>
        </div>
      </li>
      
      <li>
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>Business Analyst at Romantic LLC (Azerbaijan)</h4>
            <p>
              <small class="text-muted">
              <i class="glyphicon glyphicon-time"></i> September 2012 - December 2013</small>
            </p>
          </div>
          <div class="tl-body">
            <p>Working with MS SQL Server Analysis Services  (SSAS) Cubes, Data Mining models, deploying and processing SSAS objects, and writing MDX queries. Designing, building, maintaining and testing queries, stored procedures and views using MS SQL Server 2008/2012.</p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>Student at Umeå University (Sweden)</h4>
            <p><small class="text-muted">
              <i class="glyphicon glyphicon-time"></i> September 2009 - March 2012</small>
            </p>
          </div>
          <div class="tl-body">
            <p>Master's degree in Economics</p>
          </div>
        </div>
      </li>
      
      <li>
        <div class="tl-circ"></div>
        <div class="timeline-panel">
          <div class="tl-heading">
            <h4>Macroeconomic Analyst at Ministry of Economic Development, Institute for Scientific Researchers on Economic Reforms (Azerbaijan)</h4>
            <p>
              <small class="text-muted">
              <i class="glyphicon glyphicon-time"></i> July 2008 - September 2008</small>
            </p>
          </div>
          <div class="tl-body">
            <p>Internship</p>
          </div>
        </div>
      </li>      
      
    </ul>
  </div>

</div> 