<div id="Experience" class="section_M">
  <div class="placeForFixedNav"></div>
  <h3 class="sectionHeader_M">Experience</h3>
  
  <!-- https://bootsnipp.com/snippets/k7KxQ -->
  <div class="container">  
    <ul class="timeline">       
      
        <li *ngFor="let o of experiences"  [ngClass] = "{'timeline-inverted': o.isRightSide}">
          <div class="tl-circ"></div>
          <div class="timeline-panel">
            <div class="tl-heading">
              <h4>{{o.title}}</h4>
              <p><small class="text-muted">
                <i class="glyphicon glyphicon-time"></i>{{o.period}}</small>
              </p>
            </div>
            <div class="tl-body">
              <p *ngFor="let d of o.descriptions">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                <span>{{d}}</span>
              </p>
            </div>
          </div>
        </li>

    </ul>
  </div>

</div> 