.placeForFixedNav{
  background-color: rgba(225, 227, 228, 1);
}
.section_M {
  color: #3FBFB2;
  background-color: rgba(19, 35, 47, 0.9);
}
.info_M{
  padding: 0 0 12px 0;
}
  a{
    text-decoration: none;
    color: #3FBFB2;
  }
  a:hover{
     opacity: 0.7; 
  }
  .contactIcon_M{
    line-height: 55px;
    font-size:36px;
    color:#3FBFB2;
    margin: 0 10px 0 0;
  }