<div id="Contact" class="section_M">
  <div class="placeForFixedNav"></div>
  <h3 class="sectionHeader_M">Contact</h3>
  <div class="info_M">
    <p><i class="fa fa-envelope-square"></i>: samira.yusifova@gmail.com</p>
    <p><i class="fa fa-phone-square" aria-hidden="true"></i>: (912) 308-8409</p>
    <p><i class="fa fa-skype" aria-hidden="true"></i>: samira.yusifova</p>
    <p><i class="fa fa-map-marker" aria-hidden="true"></i>: Duluth, GA</p>
  </div>
  <a href="https://github.com/Tiamatt" target="_blank">
    <i class="fa fa-github contactIcon_M"></i>
  </a>
  <a href="https://www.linkedin.com/in/samirayusifova/" target="_blank">
    <i class="fa fa-linkedin-square contactIcon_M"></i>
  </a>
  <br>
</div>